node_modules
.next
.dist
build
coverage
.env
.env.*
!.env.example
.DS_Store
pnpm-lock.yaml

# Prisma
packages/db/prisma/migrations/**/migration_lock.toml
.turbo/
dist/
apps/api/dist/
packages/db/dist/
packages/shared/dist/
